
@{
    ViewBag.Title = "Ввод текста";
}

<div>
    <h3>Введите текст</h3>
    <form method="post">
        <table>
            <tr>
                <td><input type="text" name="Message" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Шифровать" /> </td>
            </tr>
        </table>
    </form>
</div>


